@import url('https://use.typekit.net/iqa5cmv.css');

html{
  /* background-color: #E6EDD3; */
  background-color: #fff;
  /* font-family: GangsterGrotesk !important; */
  font-family: freight-sans-pro, sans-serif;
font-weight: 400;
font-style: normal;
  /* font-family: franklin-gothic, sans-serif; */

  /* font-family: ff-meta-web-pro, sans-serif; */
  /* font-family: degular, sans-serif; */
  /* font-family: neue-haas-grotesk-display, sans-serif; */
/* font-style: normal;
font-weight: 100; */
  /* font-weight: 400; */
}

body{
  font-family: freight-sans-pro, sans-serif !important;
font-weight: 400;
font-style: normal;
}
strong{
  font-family: freight-sans-pro, sans-serif;

font-weight: 700;
font-style: normal;
}

.project-card{
  padding: 2%;
}
.serif-header{
  font-family: freight-display-pro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.75em;
  line-height: 1.2;
  padding-bottom: 2%;
  display: block;
}
.serif-label{
  font-family: freight-display-pro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: .75em;
}
/* Container styles */
#outercontainer{

  display: flex;
  flex-direction: column;
}
::selection {
background: #FF8A00; /* WebKit/Blink Browsers */
}
.content-container{
    font-size: 18px;
    margin: auto;
    width: 95%;
    /* font-family: neue-haas-grotesk-display, sans-serif; */
}
/* .nav-link-left{
  font-size: 1.1rem;
  padding-left: 3%;
  padding-top: 3%;
  text-align: left !important;
  font-weight: bold;
} */

/* Nav styles */

nav a:hover{
   color: black;
}

.icon{
  display: none;
}

nav{
  font-size: 1.2rem;
  padding-right: 6% !important;
  padding-left: 5% !important;
  font-weight: bold;
  position: fixed !important;
    z-index: 2;
    width: 100%;
    overflow: hidden ;
    background-color:#fff;
/* background-color: #E6EDD3; */
}
.nav-link{

  font-weight: bold;
}


#nav-container{
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-between;
  overflow: hidden ;
  background-color: #949e98;
  /* padding-bottom: 2%; */
  z-index: 2;
}



/* Banner styles */
.hidden{
  display: none;
}

#banner-container{
  width: 100%;
  margin-top: 4%;
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: center;
}

.banner-image{
  padding-top: 10%;
  height: 80%;
  margin: auto;
}

.banner-title{
  /* background-color: #000; */
  color:#f9f9f9;
  padding-bottom: 10%;
}

.banner-description{
  padding-left: 10%;
  padding-right: 10%;
}

 h1{
  text-align: center;
  font-family: freight-display-pro, serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}

.insightNumber{
  font-family: freight-display-pro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  padding-bottom: 2%;
  text-align: center;
}
.insightNumbers{
  font-family: freight-display-pro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  padding-bottom: 2%;
}
.button-wrapper {
  margin-top: 15px;
  display: block;
  text-align: center;
}

.button {
  border: none;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  width: auto;
}
.cta-button {
  background-color: #FFD4C8;
  color: #333 !important;
}

.cta-button:hover {
  background-color: #FF8A00;
}
.banner-title h3{


  font-family: freight-sans-pro, sans-serif;

  font-weight: 500;

  font-style: normal;
  font-size: 1.3em;
  /* font-family: ff-meta-correspondence-web-p, sans-serif;
  font-style: normal;
  font-weight: 400; */
}




/* Header styles */

h1{
  font-size: 3em;
  /* font-weight: bold; */
}

h2{
  font-weight: 400;
}

a{
  text-decoration: none;
  color: #79745C;
}
.content{
  margin-top: 60px;
  padding-left: 6%;
  padding-right: 6%;
}

#aboutcontent{
  display: flex;
  padding: 2%;
  justify-content: center;
}

.col{
    padding: 2%;
}

/* Project styles */

#projects{
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 justify-content: space-evenly;
  margin: auto;
  padding-top: 2%;
  width: 80%;

}



.project-title{
  /* font-weight: bold; */
  font-family: freight-display-pro, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  color: #333;
}
.project-category{
  font-size: 1em;
  color: #333;
}
.project-subhead{
  font-size: 1.2em;
  color: #333;
}

.projectInstance:hover img{
  -webkit-filter: blur(5px);
 -moz-filter: blur(5px);
 -o-filter: blur(5px);
 -ms-filter: blur(5px);
 filter: blur(5px);
}
.dark{
  color: #333;
}
.projectInstance{
margin: 1%;
  /* text-align: center; */
  max-width: 400px;
  background-color: #FCFFF5;
  position: relative;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.web-caption{
display:none}

.resume{
  padding: 3%;
  max-width: 60%;
}


.about-text{
    width: 80%;
    font-size:1.1em
}

.about-photo{
  height: 100%;
}
.resume-link{
  text-align:center;
  width:100%;
  display:block;
  margin:auto;
}

.footer{
  padding: 3%;
  text-align: center;
}

.social-media{
  padding-bottom: 2%;
}
.social-link{
  padding: 1%;
}


.content-photo-left{
  display: flex;
    padding: 2%;
}

.center-content{
  padding-top: 5%;
  padding-bottom: 5%;
}

.content-photo-right{
  display: flex;
  text-align: right;
  padding: 2%;
}

.photo-content{
  display: flex;
  justify-content: center;
}

.photo-content img{
  max-width:100%;
  max-height:100%;
  padding-left: 1%;
}

.stakeholder{
  width: 100%;
}
@media screen and (max-width: 600px) {
  nav a{display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 770px) {
  nav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.salmon-journey{
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}



.salmon-journey img{
  width:100%;
}
/* Images and Quotes */
img{
  max-width:100%;
  max-height:100%;
}


.image-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 5%;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.section-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  padding: 5%;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.quote-box{
  color: white;
  font-size: 2rem;
  background-color: #9DADBC;
  padding: 5%;
  width: 100vw;
  text-align: center;
  margin-left: calc(-50vw + 50%);
}

.quote{
  width: 70%;
  margin: auto;
}
.image-box img{
  padding: 2%;
}

.section-header{
  font-size: 1.6rem;
  text-align: center;
  padding-top: 1%;
}
.img-text-box{
  width: 100vw;
  height: 90vh;
  margin-left: calc(-50vw + 50%);
  padding: 10%;
}

.section-text-box{
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 10%;
}

.persona{
  max-width: 400px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.screen-images{
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
.salmon{
  background-color: #FFD4C8;
}
.blue-grey{
  background-color: #727F84;
  color:white;
}
.light-blue{
  background-color: #9DADBC;
  color: #fff
}
.pale-green{
  background-color: #7A9E91;
  color:white;
}
.left-content{
  display: flex;
  flex-direction: column-reverse;
align-items: center;
justify-content: center;
  margin-left: calc(-50vw + 50%);
  width: 100vw;

}
.left-image{
  /* width: 80%; */
}
.left-text{
  width: 80%;
}
.insight-group{
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2%;
}

.quotebox img{
  width: 120px;
}

.quotebox{
  background-color: #FFF1ED;
  border-radius: 10px;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.section-image img{
    width: 100% !important;
}

/* ----------- Non-Retina Screens ----------- */

@media (min-width: 770px)
{
  .serif-header{
      font-size: 2em;
  }

  .content-container{
      margin: auto;
      width: 60%;
  }
  .box-content{
        width: 60%;
  }
  .about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;

  }

  .about-text{
      width: 50%;
      padding-left: 5%;
      font-size:1.1em
  }

    #banner-container{
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
      height: 70vh;
    }
    .banner-image{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0;
      height: 100%;
    }

    #projects{
      flex-direction: row;
    }
    .image-box{
      flex-direction: column;
      height: 100%;

    }

    .gridRow{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .gridUnit{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding: 5%;
    }

    .banner-title{
      display: flex;
      max-width: 40%;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 0%;
      /* vertical-align: middle; */
    }
    .banner-title h1{
      text-align: left;
      font-size: 4em
    }
.img-text-box{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5%;
}
.section-text-box{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5%;
}



.img-text-text{
  width: 40%;
  padding-left: 4%;
  padding-right: 4%;
}

.stakeholder img{
  max-width: 100% !important;
}

/* .image-box img{
  max-width: 50%;
} */
.section-image img{
    width: 100% !important;
}

.insightSection{
  margin-left: calc(-50vw + 50%);
  /* margin: auto; */
  width: 100vw;
  align-items: baseline;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex: 1 1 0px;
  padding-left: 5%;
  padding-right: 5%;
}
.numbersection{
  margin-left: calc(-50vw + 50%);
  /* margin: auto; */
  width: 100vw;
  align-items: baseline;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex: 1 1 0px;
  padding-left: 5%;
  padding-right: 5%;
}
.number-row{
  max-width: 70%;
  padding-left: 3%;
  padding-right: 3%;
}
.number-text{
  padding: 2%;
}
.insight{
}
.insight-group{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  padding: 2%;
}
.mobile-caption{
  display: none;
}
.web-caption{
display: block;
margin: auto;
 max-width: 60%;
}
.left-content{
  flex-direction: row;
}
.left-text{
  width: 50%;
}
.images{
  display: flex;
  justify-content: center;
  width: 100%;
}
.center-image{
  display:block;
  margin: auto;
  max-width: 100%;
  text-align: center;
}

.center-image img{
  max-height: 100%;
  max-width: 100%;
}

.image-grid{
  display: flex;
  justify-content: center;
}
.image-grid img{
  max-width: 30%;
  padding: 2%;
}
.project-card{
  text-align: center;
  vertical-align: middle;
  position: absolute;
  background: rgba(255,138,0, 0.72);
  visibility: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.m-20 img{
  margin: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}



.projectInstance:hover .project-card{
  visibility: visible;
}

.project-title{
  color: #fff;
}
.project-subhead{
  color: #fff;
  margin: 5%;
}
.project-category{
  color: #fff;
}
.section-image img{
    width: 100% !important;
}
.quotebox{
  background-color: #FFF1ED;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 170px;
  justify-content: space-around;
}
.pad-5{
  padding: 3rem;
}


}
